{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ title (i18n (lower .Title)) | default .Title }}
      </a>
    </h1>
  </header>
  <div>
    Books, films, and writing have shaped my perspective as deeply as my professional life, 
    and have sustained and inspired me in difficult times. 
    Here, I gather reflections on what I read and watch.
  </div>
  <ul>
    {{- range .Paginator.Pages -}} {{- .Render "li" -}} {{- end -}}
  </ul>

  {{ partial "pagination.html" . }}
</section>
{{ end }}
