<div class="home-container">
    <div class="home-author">
        <h1 class="home-title">{{ .Site.Params.author }}</h1>
        <h2 class="home-subtitle">{{ .Site.Params.altAuthor | safeHTML }}</h2>
    </div>
    <div class="home-desc-container">
        <p class="home-desc">
            Drawing on my roots in Guizhou, China and early journey through Singapore, 
            I am a DPhil student in computational inorganic chemistry with the 
            <a href="https://www.oxicfm.ox.ac.uk/">OxICFM CDT</a>
            at the University of Oxford, where I also completed my MChem degree.
        </p>
    </div>
</div>
